﻿<div class="row">
    <div class="col-md-4">
        Logged in as @User.Identity.Name
    </div>
    <div class="col-md-4">
        <form id="addnetidform">
            <label>Add NetID:</label><input type="text" id="netidbox" />
        </form>
    </div>
    <div class="col-md-4">
        <form id="addbatchform">
            <label>Add Batch:</label><input type="text" id="batchbox" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive hover row-border" id="statustable">
            <thead>
                <tr>
                    <th>NetID</th>
                    <th>Duration</th>
                    <th>%</th>
                    <th>Total Size</th>
                    <th>Items</th>
                    <th>Forward?</th>
                    <th>Last Updated</th>
                    <th>Batch</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts {
@Scripts.Render("~/Scripts/mainlogic.js")
}